<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{{ asset('./vendor/bootstrap/css/bootstrap.min.css')}}  " rel="stylesheet">
        <link href="{{ asset('./vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{ asset('./vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
        <link href="{{ asset('./vendor/aos/aos.css')}}" rel="stylesheet">
        <link href="{{ asset('./vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
        <link href="{{ asset('./vendor/drift-zoom/drift-basic.css')}}" rel="stylesheet">
        <!-- Main CSS File -->
        <link rel="stylesheet" href="{{ asset('./css/main.css') }}" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
        
    </head>
    <body class="index-page">
        
    <header id="header" class="header sticky-top">
        <!-- Main Header -->
        <div class="main-header">
            <div class="container-fluid container-xl">
                <div class="d-flex py-3 align-items-center justify-content-between">

                <!-- Logo -->
                <a href="index.html" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="{{asset('./img/logo.webp')}}" alt=""> 
                    <h1 class="sitename">BasketsShop</h1>
                </a>

                {# <!-- Search -->
                <form class="search-form desktop-search-form">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products">
                    <button class="btn" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                    </div>
                </form> #}

                <!-- Actions -->
                <div class="header-actions d-flex align-items-center justify-content-end">

                    <!-- Mobile Search Toggle -->
                    <button class="header-action-btn mobile-search-toggle d-xl-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileSearch" aria-expanded="false" aria-controls="mobileSearch">
                    <i class="bi bi-search"></i>
                    </button>

                     <!-- Account -->
                    <div class="dropdown account-dropdown">
                    <button class="header-action-btn" data-bs-toggle="dropdown">
                        <i class="bi bi-person"></i>
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">
                        <h6>Welcome to <span class="sitename">FashionStore</span></h6>
                        <p class="mb-0">Access account &amp; manage orders</p>
                        </div>
                        <div class="dropdown-body">
                        <a class="dropdown-item d-flex align-items-center" href="account.html">
                            <i class="bi bi-person-circle me-2"></i>
                            <span>My Profile</span>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="account.html">
                            <i class="bi bi-bag-check me-2"></i>
                            <span>My Orders</span>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="account.html">
                            <i class="bi bi-heart me-2"></i>
                            <span>My Wishlist</span>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" href="account.html">
                            <i class="bi bi-gear me-2"></i>
                            <span>Settings</span>
                        </a>
                        </div>
                        <div class="dropdown-footer">
                        <a href="register.html" class="btn btn-primary w-100 mb-2">Sign In</a>
                        <a href="login.html" class="btn btn-outline-primary w-100">Register</a>
                        </div>
                    </div>
                    </div>

                    <!-- Wishlist -->
                    <a href="account.html" class="header-action-btn d-none d-md-block">
                    <i class="bi bi-heart"></i>
                    <span class="badge">0</span>
                    </a>

                    <!-- Cart -->
                    <a href="cart.html" class="header-action-btn">
                    <i class="bi bi-cart3"></i>
                    <span class="badge">3</span>
                    </a>

                    <!-- Mobile Navigation Toggle -->
                    <i class="mobile-nav-toggle d-xl-none bi bi-list me-0"></i>

                </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="header-nav">
        <div class="container-fluid container-xl position-relative">
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{{url('app_main')}}" class="{{ page == 'main'? 'active' : '' }}">Home</a></li>
                    <li><a href="{{url('app_about')}}" class="{{ page == 'about'? 'active' : '' }} ">About</a></li>
                    <li><a href="{{url('app_category')}}" class="{{ page == 'category'? 'active' : '' }} ">Category</a></li>
                    <li><a href="{{url('app_product_details')}}">Product Details</a></li>
                    <li><a href="{{url('app_cart')}}">Cart</a></li>
                    <li><a href="{{url('app_checkout')}}">Checkout</a></li>
                    <li><a href="{{url('app_contact')}}">Contact</a></li>
                </ul>
            </nav>
        </div>
        </div>

        <!-- Mobile Search Form -->
        <div class="collapse" id="mobileSearch">
        <div class="container">
            <form class="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products">
                <button class="btn" type="submit">
                <i class="bi bi-search"></i>
                </button>
            </div>
            </form>
        </div>
        </div>

  </header>
        {% block main %}{% endblock %}

        {% block footer %}{% endblock %}
          <!-- Vendor JS Files -->
        <script src="{{ asset('./vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{ asset('./vendor/php-email-form/validate.js')}}"></script>
        <script src="{{ asset('./vendor/swiper/swiper-bundle.min.js')}}"></script>
        <script src="{{ asset('./vendor/aos/aos.js')}}"></script>
        <script src="{{ asset('./vendor/glightbox/js/glightbox.min.js')}}"></script>
        <script src="{{ asset('./vendor/drift-zoom/Drift.min.js')}}"></script>
        <script src="{{ asset('./vendor/purecounter/purecounter_vanilla.js')}}"></script>

        <!-- Main JS File -->
        <script src="{{ asset('./js/main.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
